html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
}

p {
	padding: 0 0 10px;
}

a {
	color: #222;
	transition: color .3s ease;
}

a:hover {
	color: #666;
	text-decoration: none;
}

ul {
	margin-bottom: 20px;
	list-style: none;
}

ul li {
	
	border: 1px solid #222;
	border-bottom: none;
}

ul li:last-child {
	border-bottom: 1px solid #222;
}

ul li a {
	display: block;
	padding: 5px;
	text-decoration: none;
	transition: all .3s ease;
}

ul li a:hover {
	background: #222;
	color: #fff;
	text-decoration: none;
}

.module {
	width: 94%;
	margin: 50px auto 30px;
}

.intro {
	max-width: 750px;
	margin: 0 auto;
	padding-bottom: 30px !important;
	text-align: center;
}

.home .row {
	margin: 0;
}

.home div[class*=col-] {
	padding: 0;
	background: transparent;
}

.navbar {
    margin-bottom: 0;
    box-shadow: 1px 0 2px #000;
    border-radius: 0;
}

.navbar .module {
	margin-top: 0;
	margin-bottom: 0;
}

.navbar.navbar-inverse {
	background-color: rgba(43,33,32,.5)
}

.source {
    font-size: 12px;
}

.note {
    font-size: 12px;
    font-style: italic;
}

/* tiles */
.tile {
	position: relative;
	margin-left: 2px;
	margin-bottom: 2px;
	border: 1px solid rgba(236,124,74,.5);
	overflow: hidden;
}

.tile a {
    color: #fff;
}

.tile .art {
	position: relative;
}

.tile .cap {
    padding: 5px 10px;
    font-size: 18px;
}

.tile .info {
	position: absolute;
	width: 101%;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
    padding: 40px 30px 20px;
    font-size: 16px;
    background-image: linear-gradient(transparent, rgba(43,33,32,.6) 60%, rgba(43,33,32,1) 100%);
    text-align: center;
    text-transform: uppercase;
}

.tile .info h3 {
	letter-spacing: 3px;
}

.tile footer p {
	padding: 10px 0;
	color: #594828;
	font-size: 12px;
}

.tile.small .top {
	background: #f0e9cd;
}

.tile.small .top img {
	float: left;
}

.tile.small .top .info {
	float: right;
}

.tile.small .top .info {
	float: right;
}

.tile.small .bottom {
	background: #f0e9cd;
}
	
.tile.small .bottom img {
	float: right;
}

.tile.small  img {
	width: 50%;
}
	
.tile.small .info {
	position: relative;
	width: 50%;
	left: 25%;
	padding-top: 10px;
	background: transparent;
	color: #2b2120;
}

.tile.small .info a {
	color: #2b2120;
}

img {
	width: 100%;
}

.capitalize {
	text-transform: capitalize;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable]{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

.column {
	width: 280px;
	float: left;
	border: 1px solid #666;
	background-color: rgba(0,0,0,.1);
	margin: 5px 5px 5px 0;
	-webkit-box-shadow: inset 0 0 3px #000;
	-ms-box-shadow: inset 0 0 3px #000;
	box-shadow: inset 0 0 3px #000;
	cursor: move;
}

.column .content {
	padding: 10px;
}

.column .treatment {
	box-shadow: none;
	border: 1px solid rgba(0,0,0,.5);
	margin-bottom: 5px
}

.column header {
	text-align: center;
	text-shadow: #000 0 1px;
	box-shadow: 5px;
	padding: 5px;
	background: #444
}

.column.over {
	border: 2px dashed #999;
}

.clear {
	clear: both;
}

#map {
	width: 100%;
	height: 600px;
}

.country {
	text-transform: capitalize
}

@media (min-width: 978px) and (max-width: 1200px) {
	.column {
		width: 225px;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.column {
		width: 170px;
	}
}

@media (min-width: 600px) and (max-width: 767px) {
	.column {
		width: 130px;
	}
}

@media (max-width: 599px) {
	.column {
		width: 100%;
		float: none;
	}
}

/* flexbox */
.flex-container {
    width: 80%;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    
}

.flex-item {
    flex: 1 1 0;
    position: relative;
    margin: 20px 0 20px 20px;
}

.flex-row[data-margin="0"] .flex-item,
.flex-row[data-margin="0"] .flex-item:last-child {
    margin: 0;
}

div[data-layout="column"] {
    display: flex;
    flex-direction: column;
}

/* all evenly distributed cols */
.flex-row .flex-item {
    flex: 1 1 0;
    position: relative;
    margin: 20px 0 20px 20px;
}

.flex-row .flex-item:last-child {
    margin-right: 20px;
}

.flex-item .flex-row .flex-item {
    margin-top: 0;
}


.flex-item[data-weight="2"]{
    flex: 2 2 40px;
}

.flex-item[data-weight="3"]{
    flex: 3 3 40px;
}

.flex-item[data-weight="4"]{
    flex: 4 4 40px;
}

/* centered images */
.flex-item[data-image-layout="square"]:after {
    content: "";
    float: left;
    display: block;
    padding-top: 100%;
}

.flex-item[data-image-layout="square"] .tile {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.flex-item[data-image-layout="square"] .image-holder {
    height: 100%;
}

.flex-item[data-image-layout="square"] .image-holder img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all .6s ease;
}

.flex-item[data-image-layout="square"] .image-holder img:hover {
    width: 110%;
    height: 110%;
    max-width: 110%;
    max-height: 110%;
    margin: -5%;
}