.custom-fonts a {
    text-align: center;
	text-decoration: none;
}

.custom-fonts i {
    color: #222;
    font-size: 72px;
}

.performance_table {
    width: 100%;
    background: #fff;
    color: #222;
}

.performance_table a {
    color: #000;
    text-decoration: none;
    font-weight: normal;
}

.performance_table .headings {
    background: rgba(50,67,78,.2);
}

.performance_table .img {
    background: rgba(236,153,23,.2);
}

.performance_table .img:hover {
    background: rgba(236,153,23,.3);
}

.performance_table .script {
    background: rgba(87,146,174,.2);
}

.performance_table .script:hover {
    background: rgba(87,146,174,.3);
}

.performance_table .link {
    background: rgba(102,122,137,.2);
}

.performance_table .link:hover {
    background: rgba(102,122,137,.3);
}

img {
    width: 100%
}

span {
    margin-right: 10px;
}

i {
    font-size: 22px;
    margin-right: 3px;
}

.icon {
    font-weight: normal;
}

.sorter img {
    width: 20px;
}