.custom-fonts a {
	text-decoration: none;
}

.custom-fonts i {
    color: #222;
    font-size: 72px;
}

.performance_table {
    width: 100%;
}

.performance_table a {
    color: #000;
    text-decoration: none;
}

.performance_table .headings {
    background: rgba(50,67,78,.2);
}

.performance_table .img {
    background: rgba(236,153,23,.2);
}

.performance_table .img:hover {
    background: rgba(236,153,23,.3);
}

.performance_table .script {
    background: rgba(87,146,174,.2);
}

.performance_table .script:hover {
    background: rgba(87,146,174,.3);
}

.performance_table .link {
    background: rgba(102,122,137,.2);
}

.performance_table .link:hover {
    background: rgba(102,122,137,.3);
}

.performance img {
    width: 100%
}

.sorter span {
    margin-right: 10px;
}

.performance .sorter img {
    width: 20px;
}