/*
  Icon Font: rtodd
*/

@font-face {
  font-family: "rtodd";
  src: url("./rtodd.eot");
  src: url("./rtodd.eot?#iefix") format("embedded-opentype"),
       url("./rtodd.woff") format("woff"),
       url("./rtodd.ttf") format("truetype"),
       url("./rtodd.svg#rtodd") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "rtodd";
    src: url("./rtodd.svg#rtodd") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-art-illustration:before,
.icon-art-photography:before,
.icon-food-wine:before,
.icon-game-wii:before,
.icon-game-xbox:before,
.icon-health-scale:before,
.icon-health-stopwatch:before,
.icon-health-test-tube:before,
.icon-health-weight-training:before,
.icon-music-treble-clef:before,
.icon-politics-amnesty:before,
.icon-politics-democrat:before,
.icon-politics-politician:before,
.icon-politics-republican:before,
.icon-pop-culture-borat:before,
.icon-pop-culture-clockwork-orange:before,
.icon-pop-culture-dc-batman:before,
.icon-pop-culture-dc-batman-beyond:before,
.icon-pop-culture-dc-nightwing:before,
.icon-pop-culture-dc-the-wasp:before,
.icon-pop-culture-drwho-dalek:before,
.icon-pop-culture-drwho-tardis:before,
.icon-pop-culture-james-bond:before,
.icon-pop-culture-jaws:before,
.icon-pop-culture-megamind:before,
.icon-pop-culture-paranorman:before,
.icon-pop-culture-scream:before,
.icon-pop-culture-simpsons-bart:before,
.icon-pop-culture-simpsons-lisa:before,
.icon-pop-culture-transformers:before,
.icon-profession-artist:before,
.icon-profession-athlete:before,
.icon-profession-director:before,
.icon-profession-librarian:before,
.icon-profession-politician:before,
.icon-profession-singer:before,
.icon-science-atom:before,
.icon-social-hrc:before,
.icon-social-opposite-sex:before,
.icon-social-organization:before,
.icon-social-same-sex-1:before,
.icon-social-same-sex-2:before,
.icon-social-youtube:before,
.icon-tech-architect:before,
.icon-tech-audio:before,
.icon-tech-bluetooth:before,
.icon-tech-bug:before,
.icon-tech-chat:before,
.icon-tech-clipboard:before,
.icon-tech-cloud-download:before,
.icon-tech-css:before,
.icon-tech-device-rotation:before,
.icon-tech-diagnostic:before,
.icon-tech-directory:before,
.icon-tech-external-drive:before,
.icon-tech-geolocation:before,
.icon-tech-graph:before,
.icon-tech-html:before,
.icon-tech-images:before,
.icon-tech-layers:before,
.icon-tech-link:before,
.icon-tech-mobile:before,
.icon-tech-mobile-player:before,
.icon-tech-network:before,
.icon-tech-notification:before,
.icon-tech-performance:before,
.icon-tech-remote-key:before,
.icon-tech-script:before,
.icon-tech-search:before,
.icon-tech-services:before,
.icon-tech-storage:before,
.icon-tech-svg:before,
.icon-tech-target:before,
.icon-tech-touch:before,
.icon-tech-under-construction-1:before,
.icon-tech-under-construction-2:before,
.icon-tech-wireless:before,
.icon-transportation-london-tube:before,
.icon-transportation-ny-subway:before,
.icon-weather-partly-cloudy:before {
  display: inline-block;
  font-family: "rtodd";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-art-illustration:before { content: "\f424"; }
.icon-art-photography:before { content: "\f425"; }
.icon-food-wine:before { content: "\f426"; }
.icon-game-wii:before { content: "\f427"; }
.icon-game-xbox:before { content: "\f428"; }
.icon-health-scale:before { content: "\f429"; }
.icon-health-stopwatch:before { content: "\f42a"; }
.icon-health-test-tube:before { content: "\f42b"; }
.icon-health-weight-training:before { content: "\f42c"; }
.icon-music-treble-clef:before { content: "\f42d"; }
.icon-politics-amnesty:before { content: "\f42e"; }
.icon-politics-democrat:before { content: "\f42f"; }
.icon-politics-politician:before { content: "\f430"; }
.icon-politics-republican:before { content: "\f431"; }
.icon-pop-culture-borat:before { content: "\f432"; }
.icon-pop-culture-clockwork-orange:before { content: "\f433"; }
.icon-pop-culture-dc-batman:before { content: "\f434"; }
.icon-pop-culture-dc-batman-beyond:before { content: "\f435"; }
.icon-pop-culture-dc-nightwing:before { content: "\f436"; }
.icon-pop-culture-dc-the-wasp:before { content: "\f437"; }
.icon-pop-culture-drwho-dalek:before { content: "\f438"; }
.icon-pop-culture-drwho-tardis:before { content: "\f439"; }
.icon-pop-culture-james-bond:before { content: "\f43a"; }
.icon-pop-culture-jaws:before { content: "\f43b"; }
.icon-pop-culture-megamind:before { content: "\f43c"; }
.icon-pop-culture-paranorman:before { content: "\f43d"; }
.icon-pop-culture-scream:before { content: "\f43e"; }
.icon-pop-culture-simpsons-bart:before { content: "\f43f"; }
.icon-pop-culture-simpsons-lisa:before { content: "\f440"; }
.icon-pop-culture-transformers:before { content: "\f441"; }
.icon-profession-artist:before { content: "\f442"; }
.icon-profession-athlete:before { content: "\f443"; }
.icon-profession-director:before { content: "\f444"; }
.icon-profession-librarian:before { content: "\f445"; }
.icon-profession-politician:before { content: "\f446"; }
.icon-profession-singer:before { content: "\f447"; }
.icon-science-atom:before { content: "\f448"; }
.icon-social-hrc:before { content: "\f449"; }
.icon-social-opposite-sex:before { content: "\f44a"; }
.icon-social-organization:before { content: "\f44b"; }
.icon-social-same-sex-1:before { content: "\f44c"; }
.icon-social-same-sex-2:before { content: "\f44d"; }
.icon-social-youtube:before { content: "\f44e"; }
.icon-tech-architect:before { content: "\f44f"; }
.icon-tech-audio:before { content: "\f450"; }
.icon-tech-bluetooth:before { content: "\f451"; }
.icon-tech-bug:before { content: "\f452"; }
.icon-tech-chat:before { content: "\f453"; }
.icon-tech-clipboard:before { content: "\f454"; }
.icon-tech-cloud-download:before { content: "\f455"; }
.icon-tech-css:before { content: "\f456"; }
.icon-tech-device-rotation:before { content: "\f457"; }
.icon-tech-diagnostic:before { content: "\f458"; }
.icon-tech-directory:before { content: "\f459"; }
.icon-tech-external-drive:before { content: "\f45a"; }
.icon-tech-geolocation:before { content: "\f45b"; }
.icon-tech-graph:before { content: "\f45c"; }
.icon-tech-html:before { content: "\f45d"; }
.icon-tech-images:before { content: "\f45e"; }
.icon-tech-layers:before { content: "\f45f"; }
.icon-tech-link:before { content: "\f460"; }
.icon-tech-mobile:before { content: "\f461"; }
.icon-tech-mobile-player:before { content: "\f462"; }
.icon-tech-network:before { content: "\f463"; }
.icon-tech-notification:before { content: "\f464"; }
.icon-tech-performance:before { content: "\f465"; }
.icon-tech-remote-key:before { content: "\f466"; }
.icon-tech-script:before { content: "\f467"; }
.icon-tech-search:before { content: "\f468"; }
.icon-tech-services:before { content: "\f469"; }
.icon-tech-storage:before { content: "\f46a"; }
.icon-tech-svg:before { content: "\f46b"; }
.icon-tech-target:before { content: "\f46c"; }
.icon-tech-touch:before { content: "\f46d"; }
.icon-tech-under-construction-1:before { content: "\f46e"; }
.icon-tech-under-construction-2:before { content: "\f46f"; }
.icon-tech-wireless:before { content: "\f470"; }
.icon-transportation-london-tube:before { content: "\f471"; }
.icon-transportation-ny-subway:before { content: "\f472"; }
.icon-weather-partly-cloudy:before { content: "\f473"; }
