.swiper-slide {
    padding: 40px 60px;
    color: #222;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide {
    padding: 60px 0;
}

.swiper-slide .content {
    height: 260px;
    padding: 40px;
    background: rgba(255,255,255,.5);
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

.swiper-slide .subtitle {
    font-size: 21px;
}