/*
  Icon Font: pop
*/

@font-face {
  font-family: "pop";
  src: url("./pop.eot");
  src: url("./pop.eot?#iefix") format("embedded-opentype"),
       url("./pop.woff") format("woff"),
       url("./pop.ttf") format("truetype"),
       url("./pop.svg#pop") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "pop";
    src: url("./pop.svg#pop") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-comic-batman:before,
.icon-comic-batman-beyond:before,
.icon-comic-batman-beyond-2:before,
.icon-comic-nightwing:before,
.icon-comic-the-wasp:before,
.icon-movie-borat:before,
.icon-movie-clockwork-orange:before,
.icon-movie-clockwork-scream:before,
.icon-movie-james-bond:before,
.icon-movie-jaws:before,
.icon-movie-megamind:before,
.icon-movie-paranorman:before,
.icon-movie-transformers:before,
.icon-tv-drwho-dalek:before,
.icon-tv-drwho-tardis:before,
.icon-tv-simpsons-bart:before,
.icon-tv-simpsons-lisa:before {
  display: inline-block;
  font-family: "pop";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-comic-batman:before { content: "\f413"; }
.icon-comic-batman-beyond:before { content: "\f422"; }
.icon-comic-batman-beyond-2:before { content: "\f423"; }
.icon-comic-nightwing:before { content: "\f414"; }
.icon-comic-the-wasp:before { content: "\f415"; }
.icon-movie-borat:before { content: "\f416"; }
.icon-movie-clockwork-orange:before { content: "\f417"; }
.icon-movie-clockwork-scream:before { content: "\f418"; }
.icon-movie-james-bond:before { content: "\f419"; }
.icon-movie-jaws:before { content: "\f41a"; }
.icon-movie-megamind:before { content: "\f41b"; }
.icon-movie-paranorman:before { content: "\f41c"; }
.icon-movie-transformers:before { content: "\f41d"; }
.icon-tv-drwho-dalek:before { content: "\f41e"; }
.icon-tv-drwho-tardis:before { content: "\f41f"; }
.icon-tv-simpsons-bart:before { content: "\f420"; }
.icon-tv-simpsons-lisa:before { content: "\f421"; }
