.parallax {
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 300px;
	perspective: 300px;
}

.parallax-group {
	position: relative;
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.parallax-layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.parallax-layer.fore {
	-webkit-transform: translateZ(90px) scale(.7);
	transform: translateZ(90px) scale(.7);
	z-index: 1;
}

.parallax-layer.base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 4;
}

.parallax-layer.back {
	-webkit-transform: translateZ(-300px) scale(2);
	transform: translateZ(-300px) scale(2);
	z-index: 3;
}

.parallax-layer.deep {
	-webkit-transform: translateZ(-600px) scale(3);
	transform: translateZ(-600px) scale(3);
	z-index: 2;
}

/* demo styles
--------------------------------------------- */
body, html {
	overflow: hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

* {
	margin:0;
	padding:0;
}

h3 {
	margin-bottom: 20px;
}

i {
	font-size: 400px;
}

.parallax {
	/* font-size: 200%; */
}

/* centre the content in the parallax layers */
.content-box,
.icon-box {
	/* text-align: center; */
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 15px 20px;
	background: rgba(33,33,33,.75);
	border: 1px solid #333;
	text-shadow: 2px 2px 1px #000;
}

.icon-box {
	z-index: 50;
	background: none;
	border: none;
}

/* style the groups
--------------------------------------------- */
#group1 {
	height: 70vh;
	z-index: 5; /* slide over group 2 */
}

#group1 .parallax-layer.base {
	background: #baba71;
}

#group2 {
	z-index: 3; /* slide under groups 1 and 3 */
}

#group2 .parallax-layer.back {
	/* background: #ae0000; */
	background-image: url("../../../images/personality-xavier-dolan.jpg");
	background-size: cover;
	transform: scale(1);
	-webkit-transition: all 36s ease-out;
}

#group2 .content-box {
	left: 75%;
}

#group2 .icon-box {
	top: 40%;
	left: 70%;
	opacity: .6;
}

#group3 {
	z-index: 4; /* slide over group 2 and 4 */
}

#group3 .parallax-layer.base {
	background: #003264;
}

#group4 {
	z-index: 2; /* slide under group 3 and 5 */
}

#group4 .parallax-layer.deep {
	background: #baba71;
}

#group5 {
	z-index: 3; /* slide over group 4 and 6 */
}

#group5 .parallax-layer.base {
	background: #ae0000;
}

#group6 {
	z-index: 2; /* slide under group 5 and 7 */
}

#group6 .parallax-layer.back {
	background: #003264;
	background-image: url("../../../images/personality-robin-lord-taylor.jpg");
	background-size: cover;
}

#group7 {
	z-index: 3; /* slide over group 7 */
}

#group7 .parallax-layer.base {
	background: #baba71;
}



#group2 .parallax-layer.back.animate {
    transform: scale(1.4);
}



